[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule ".vim/bundle/vim-ripgrep"]
	path = .vim/bundle/vim-ripgrep
	url = git@github.com:jremmen/vim-ripgrep.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/git-plugins/start/ale"]
	path = .vim/pack/git-plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
